<%- include('layout/header') %>
    <h1>Profil Admin </h1>
    <table>
        <tr>
            <th>Email:</th>
            <td><%= user.email %></td>
        </tr>
    </table>
    <br>
    <form action="/admin/profile/ubah-password" method="get">
        <button>Ubah Password</button>
    </form>
    <%- include('layout/footer') %>
