<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ProfilAdmin</title>
        <link rel="stylesheet" href="ProfilAdmin.css" />
    </head>
    <style>
        :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1201px;
    height: 593px;
    margin: 0 auto;
    background: rgba(248, 249, 250, 0.11);
    border: 1px solid #bdc1ca;
    box-shadow: 0 4px 9px 0 rgba(23, 26, 31, 0.19);
    background-color: #bdc1ca;
}
.wrapper {
    position: relative;
    width: 1201px;
    height: 57px;
    margin: 0 0 0 0;
    background: #0c7a2f;
}
.pic {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 8px;
    left: 1012px;
    background: url(./image2.jpg)
        no-repeat center;
    background-size: cover;
    z-index: 4;
    border-radius: 21px;
}
.img {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 8px;
    left: 67px;
    background: url(./unand-900x570.jpg)
        no-repeat center;
    background-size: cover;
    z-index: 7;
    border-radius: 21px;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 14px;
    left: 133px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 889px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 1063px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 807px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 727px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}
.section {
    position: relative;
    width: 1022px;
    height: 369px;
    margin: 23px 0 0 88px;
    z-index: 11;
}
.box {
    position: absolute;
    width: 294px;
    height: 307px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: #ffffff;
    z-index: 10;
    border-radius: 20px;
}
.text-6 {
    display: block;
    position: relative;
    height: 36px;
    margin: 22px 0 0 110px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}
.img-2 {
    position: relative;
    width: 116px;
    height: 116px;
    margin: 22px 0 0 89px;
    background: url(./image2.jpg)
        no-repeat center;
    background-size: cover;
    z-index: 23;
    border-radius: 100px;
}
.pic-2 {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 86px;
    left: 80px;
    background: url(./Oval\ 1.svg)
        no-repeat center;
    background-size: cover;
    z-index: 25;
    border-radius: 50%;
}
.img-3 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 94px;
    left: 88px;
    background: url(./Camera\ 1\ \(1\).svg)
        no-repeat center;
    background-size: cover;
    z-index: 26;
    overflow: hidden;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 174px;
    height: 56px;
    margin: 22px 0 0 61px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-overflow: initial;
    z-index: 24;
    overflow: hidden;
}
.wrapper-2 {
    position: absolute;
    width: 659px;
    height: 369px;
    top: 0;
    left: 363px;
    font-size: 0px;
    background: #ffffff;
    z-index: 11;
    border-radius: 20px;
}
.text-8 {
    display: block;
    position: relative;
    height: 36px;
    margin: 22px 0 0 244px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
}
.text-9 {
    display: block;
    position: relative;
    height: 30px;
    margin: 22px 0 0 75px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
}
.section-2 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 75px;
    background: #f3f4f6;
    border: 1px solid #a8adb7;
    z-index: 14;
    border-radius: 4px;
    box-sizing: content-box;
}
.text-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}
.text-b {
    display: block;
    position: relative;
    height: 30px;
    margin: 27px 0 0 75px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
}
.wrapper-3 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 75px;
    background: #f3f4f6;
    border: 1px solid #a8adb7;
    z-index: 18;
    border-radius: 4px;
    box-sizing: content-box;
}
.text-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
}
.text-d {
    display: block;
    position: relative;
    height: 30px;
    margin: 27px 0 0 75px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
}
.wrapper-4 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 75px;
    background: #f3f4f6;
    border: 1px solid #a8adb7;
    z-index: 16;
    border-radius: 4px;
    box-sizing: content-box;
}
.pic-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 485px;
    background: url(./D\ edit\ 1.svg)
        no-repeat center;
    background-size: cover;
    z-index: 27;
    overflow: hidden;
}
.text-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}
.box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1201px;
    height: 57px;
    margin: 89px 0 0 0;
    background: rgba(12, 122, 47, 0.92);
    z-index: 9;
}
.text-f {
    flex-shrink: 0;
    position: relative;
    height: 28px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}

    </style>
    <body>
        <div class="main-container">
            <div class="wrapper">
                <div class="pic"></div>
                <div class="img"></div>
                <span class="text">DaftarSp</span><span class="text-2">Informasi</span
                ><span class="text-3">Account</span><span class="text-4">Daftar</span
                ><span class="text-5">Home</span>
            </div>
            <div class="section">
                <div class="box">
                    <span class="text-6">Profile</span>
                    <div class="img-2">
                        <div class="pic-2"></div>
                        <div class="img-3"></div>
                    </div>
                    <span class="text-7">Admin<br />admin@gmail.com</span>
                </div>
                <div class="wrapper-2">
                    <span class="text-8">Informasi Data</span
                    ><span class="text-9">Nama</span>
                    <div class="section-2"><span class="text-a"><%= profil.email %></span></div>
                    <span class="text-b">Email</span>
                    <div class="wrapper-3">
                        <span class="text-c">admin@gmail.com</span>
                    </div>
                    <span class="text-d">Password</span>
                    <div class="wrapper-4">
                        <div class="pic-3"></div>
                        <span   class="text-e">**********</span>
                    </div>
                </div>
            </div>
            <div class="box-2">
                <span class="text-f">Copyright Sistem Informasi 2024</span>
            </div>
        </div>
    </body>
</html>
