<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ProfilMahasiswa</title>
        <link rel="stylesheet" href="profilmahasiswa.css" />
    </head>
    <style>
        :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1201px;
    height: 593px;
    margin: 0 auto;
    background: rgba(248, 249, 250, 0.11);
    border: 1px solid #bdc1ca;
    box-shadow: 0 4px 9px 0 rgba(23, 26, 31, 0.19);
    background-color: #bdc1ca;
}
.wrapper {
    position: relative;
    width: 1201px;
    height: 57px;
    margin: 0 0 0 0;
    background: #0c7a2f;
}
.pic {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 8px;
    left: 1012px;
    background: url(./image1.jpg)
        no-repeat center;
    background-size: cover;
    z-index: 4;
    border-radius: 21px;
}
.pic-2 {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 8px;
    left: 67px;
    background: url(./unand-900x570.jpg)
        no-repeat center;
    background-size: cover;
    z-index: 7;
    border-radius: 21px;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 14px;
    left: 133px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 889px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 1063px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 807px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 28px;
    top: 15px;
    left: 727px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
}
.box {
    position: relative;
    width: 1020px;
    height: 435px;
    margin: 23px 0 0 88px;
    z-index: 11;
}
.group {
    position: absolute;
    width: 294px;
    height: 307px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: #ffffff;
    z-index: 10;
    border-radius: 20px;
}
.text-6 {
    display: block;
    position: relative;
    height: 36px;
    margin: 39px 0 0 110px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}
.pic-3 {
    position: relative;
    width: 117px;
    height: 117px;
    margin: 17px 0 0 88px;
    background: url(./image1.jpg)
        no-repeat center;
    background-size: cover;
    z-index: 27;
    border-radius: 59px;
}
.img {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 83px;
    left: 88px;
    background: url(./Oval\ 1.svg)
        no-repeat center;
    background-size: cover;
    z-index: 28;
    border-radius: 50%;
}
.pic-4 {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 91px;
    left: 96px;
    background: url(./Camera\ 1\ \(1\).svg)
        no-repeat center;
    background-size: cover;
    z-index: 29;
    overflow: hidden;
}
.section {
    position: relative;
    width: 279px;
    height: 47px;
    margin: 16px 0 0 8px;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 26;
}
.text-7 {
    position: relative;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
.text-8 {
    position: relative;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.group-2 {
    position: absolute;
    width: 659px;
    height: 435px;
    top: 0;
    left: 361px;
    font-size: 0px;
    background: #ffffff;
    z-index: 11;
    border-radius: 20px;
}
.text-9 {
    display: block;
    position: relative;
    height: 36px;
    margin: 39px 0 0 246px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
}
.text-a {
    display: block;
    position: relative;
    height: 30px;
    margin: 17px 0 0 77px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
}
.wrapper-2 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 77px;
    background: #ffffff;
    border: 1px solid #a8adb7;
    z-index: 14;
    border-radius: 4px;
    box-sizing: content-box;
}
.text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}
.text-c {
    display: block;
    position: relative;
    height: 30px;
    margin: 12px 0 0 77px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}
.box-2 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 77px;
    background: #ffffff;
    border: 1px solid #a8adb7;
    z-index: 21;
    border-radius: 4px;
    box-sizing: content-box;
}
.text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}
.text-e {
    display: block;
    position: relative;
    height: 30px;
    margin: 18px 0 0 77px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
}
.section-2 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 77px;
    background: #ffffff;
    border: 1px solid #a8adb7;
    z-index: 19;
    border-radius: 4px;
    box-sizing: content-box;
}
.text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
}
.text-10 {
    display: block;
    position: relative;
    height: 30px;
    margin: 15px 0 0 77px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}
.wrapper-3 {
    position: relative;
    width: 515px;
    height: 31px;
    margin: 0 0 0 77px;
    background: #ffffff;
    border: 1px solid #a8adb7;
    z-index: 17;
    border-radius: 4px;
    box-sizing: content-box;
}
.pic-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 487px;
    background: url(./D\ edit\ 1.svg)
        no-repeat center;
    background-size: cover;
    z-index: 30;
    overflow: hidden;
}
.text-11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: 5px;
    left: 12px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
}
.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1201px;
    height: 57px;
    margin: 23px 0 0 0;
    background: rgba(12, 122, 47, 0.92);
    z-index: 9;
}
.text-12 {
    flex-shrink: 0;
    position: relative;
    height: 28px;
    color: #171a1f;
    font-family: Poppins, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}

    </style>
    <body>
        <div class="main-container">
            <div class="wrapper">
                <div class="pic"></div>
                <div class="pic-2"></div>
                <span class="text">DaftarSp</span><span class="text-2">Informasi</span
                ><span class="text-3">Account</span><span class="text-4">Daftar</span
                ><span class="text-5">Home</span>
            </div>
            <div class="box">
                <div class="group">
                    <span class="text-6">Profile</span>
                    <div class="pic-3">
                        <div class="img"></div>
                        <div class="pic-4"></div>
                    </div>
                    <div class="section">
                        <span class="text-7">Muhammad Nouval Habibie<br /></span
                        ><span class="text-8">2211521020_muhammad@student.unand.ac.id</span>
                    </div>
                </div>
                <div class="group-2">
                    <span class="text-9">Informasi Data</span
                    ><span class="text-a">Nama</span>
                    <div class="wrapper-2">
                        <span class="text-b">Muhammad Nouval Habibie</span>
                    </div>
                    <span class="text-c">NIM</span>
                    <div class="box-2"><span class="text-d">2211521020</span></div>
                    <span class="text-e">Email</span>
                    <div class="section-2">
                        <span class="text-f">2211521020_muhammad@student.unand.ac.id</span>
                    </div>
                    <span class="text-10">Password</span>
                    <div class="wrapper-3">
                        <div class="pic-5"></div>
                        <span class="text-11">**********</span>
                    </div>
                </div>
            </div>
            <div class="section-3">
                <span class="text-12">Copyright Sistem Informasi 2024</span>
            </div>
        </div>
    </body>
</html>
